.html {
    position: relative;
}

.html, .html body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.html body main {
    padding: 2em;
    flex: 1;
}

@media (max-width: 481px) {
    .html body main {
        padding: 1em;
        flex: 1;
    }
}